{% extends "_base/_page-nav.twig" %}

{% block page_title __('Statistics') %}
{% block page_nav 'Settings/Extensions' %}


{% block page_main %}
    <link rel="stylesheet" type="text/css" href="/{{ webpath }}/styles.css" />

<div class="stats">
    <div class="note alert alert-info" id="adblocker-notice">
        Note: If you're not seeing any charts on this page, make sure your Adblocker isn't blocking the required javascript files, because they have 'googleanalytics' in their names.
    </div>
    {% if token is json %}
        <div id="active-users-container"></div>
        <div class="wrapper lastweek">
            <h2>{{__("Visitors in the last 7 days, compared to the previous week")}}</h2>
            <div id="chart-0-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-0-container"></div>
        </div>
        <div class="wrapper monthbymonth">
            <h2>{{__("Unique visitors this month compared to last month")}}</h2>
            <div id="chart-1-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-1-container"></div>
        </div>
        <div class="wrapper yearbyyear">
            <h2>{{__("Unique visitors this year compared to last year")}}</h2>
            <div id="chart-2-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-2-container"></div>
        </div>
        <div class="wrapper geo">
            <h2>{{__("City")}}</h2>
            <div id="chart-3-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-3-container"></div>
        </div>
        <div class="wrapper geo">
            <h2>{{__("Visitor type")}}</h2>
            <div id="chart-4-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-4-container"></div>
        </div>
        <div class="wrapper geo">
            <h2>{{__("Device type")}}</h2>
            <div id="chart-5-container" class="chart"></div>
            <div class="Chartjs-legend" id="legend-5-container">
            </div>
        </div>
        <script>
            var GAtranslations = {
                visitorsrightnow: "{{__("Active visitors right now")}}",
                pageviewslastweek: "{{ __("Pageviews last week") }}",
                pageviewsthisweek: "{{ __("Pageviews this week") }}",
                lastweek: "{{ __("Visits last week") }}",
                thisweek: "{{ __("Visits this week") }}",
                lastmonth: "{{ __("Last month") }}",
                thismonth: "{{ __("This month") }}",
                lastyear: "{{ __("Last year") }}",
                thisyear: "{{ __("This year") }}",
                newvisitors: "{{ __("New visitors") }}",
                returningvisitors: "{{ __("Returning visitors") }}",
                computer: "{{ __("Computer") }}",
                tablet: "{{ __("Tablet") }}",
                phone: "{{ __("Phone") }}",
                months_jan: "{{ __("Months.Jan") }}",
                months_feb: "{{ __("Months.Feb") }}",
                months_mar: "{{ __("Months.Mar") }}",
                months_apr: "{{ __("Months.Apr") }}",
                months_may: "{{ __("Months.May") }}",
                months_jun: "{{ __("Months.Jun") }}",
                months_jul: "{{ __("Months.Jul") }}",
                months_aug: "{{ __("Months.Aug") }}",
                months_sep: "{{ __("Months.Sep") }}",
                months_oct: "{{ __("Months.Oct") }}",
                months_nov: "{{ __("Months.Nov") }}",
                months_dec: "{{ __("Months.Dec") }}"
            }
            var locale = "{{locale}}";
            var data = {ids: "ga:{{profile}}"};
            var access_token = {{token|raw}};

            (function(w,d,s,g,js,fjs){
            g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
            js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
            js.src='https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
            }(window,document,'script'));
        </script>
    {%else%}
        <h2>Error:</h2>
        <p>{{token}}</p>
    {%endif%}
</div>
    <script src="/{{ webpath }}/es6-promise.min.js" type="text/javascript"></script>
    <script src="/{{ webpath }}/active-users.js" type="text/javascript"></script>
    <script src="/{{ webpath }}/date-range-selector.js" type="text/javascript"></script>
    <script src="/{{ webpath }}/Chart.min.js" type="text/javascript"></script>
    <script src="/{{ webpath }}/googleanalytics.js" type="text/javascript"></script>
{% endblock %}