<div class="panel panel-default panel-news">
    <div class="panel-heading">
        <i class="fa fa-fw fa-area-chart"></i>
        {{__("Visitors/Pageviews in the last 7 days.")}}
    </div>

    <div class="panel-body">
        <div class="lastweek">
            <div id="chart-0-container" class="chart-widget"></div>
            <div class="Chartjs-legend" id="legend-0-container"></div>
            <p><span id="active-users-container"></span></p>
        </div>
        {% if statisticspage %}
            <div class="btn btn-secondary" href="{{ path('displayStatistics') }}">More statistics</div>
        {% endif %}
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/{{ webpath }}/styles.css" />
<script>
    var GAtranslations = {
        visitorsrightnow: "{{__("Active visitors right now")}}",
        pageviewslastweek: "{{ __("Pageviews last week") }}",
        pageviewsthisweek: "{{ __("Pageviews this week") }}",
        lastweek: "{{ __("Visits last week") }}",
        thisweek: "{{ __("Visits this week") }}"
    }
    var locale = "{{locale}}";
    var data = {ids: "ga:{{profile}}"};
    var access_token = {{token|raw}};

    (function(w,d,s,g,js,fjs){
        g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
        js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
        js.src='https://apis.google.com/js/platform.js';
        fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
    }(window,document,'script'));
</script>
<script src="/{{ webpath }}/es6-promise.min.js" type="text/javascript"></script>
<script src="/{{ webpath }}/active-users.js" type="text/javascript"></script>
<script src="/{{ webpath }}/date-range-selector.js" type="text/javascript"></script>
<script src="/{{ webpath }}/Chart.min.js" type="text/javascript"></script>
<script src="/{{ webpath }}/googleanalytics.js" type="text/javascript"></script>